<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZestyZing</title> 
    <link rel="icon" type="image/x-icon" href="./Images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" href="" th:href="@{css/Products.css}" />
</head>

<body>
    <nav th:replace="~{Navigation::navbar()}"></nav>
    <div id="main-container">
    <div id="biryani"> 
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/pizza.jpg" alt="nomad pizza">
            <p class="item-name">Pizza</p>
            <p class="item-price">Price: Rs 300</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>
 
 <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/burger.jpg" alt="burger">
            <p class="item-name">Burger </p>
            <p class="item-price">Price: Rs 150</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
         
         
         
            <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/Matar-Paneer.jpg" alt="Matar Paneer">
            <p class="item-name">Matar Paneer</p>
            <p class="item-price">Price: Rs 180</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/kadai-paneer.jpg" alt="Kadai Paneer">
            <p class="item-name">Kadai Paneer</p>
            <p class="item-price">Price: Rs 220</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/paneer tikka.jpg" alt="Paneer Tikka">
            <p class="item-name">Paneer Tikka</p>
            <p class="item-price">Price: Rs 120</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
        
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/spring rolls.jpg" alt="Spring rolles">
            <p class="item-name">Spring Rolles</p>
            <p class="item-price">Price: Rs 80</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
       
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/dosa.jpg" alt="Masala Dosa">
            <p class="item-name">Masala Dosa</p>
            <p class="item-price">Price: Rs 70</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>
      
      <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/veg biryani.jpg" alt="Veg Biryani">
            <p class="item-name">Veg Biryani</p>
            <p class="item-price">Price: Rs 150</p>
            <a href="/login" id="buy">Buy Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/Honey-Chilli-Potato.jpg" alt="Chicken Biryani">
            <p class="item-name">Chilli Potato</p>
            <p class="item-price">Price: Rs 120</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/chole bhature.jpg" alt="Chole Bhature">
            <p class="item-name">Chole Bhature</p>
            <p class="item-price">Price: Rs 100</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/Gulab Jamun.jpg" alt="Chicken Biryani">
            <p class="item-name">Gulab Jamun</p>
            <p class="item-price">Price: Rs 50</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/sandwich.webp" alt="Sandwich">
            <p class="item-name">Sandwich</p>
            <p class="item-price">Price: Rs 60</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
        
        
        
        
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.4.5</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/chowmein.jpg" alt="Chicken Biryani">
            <p class="item-name">Chowmein</p>
            <p class="item-price">Price: Rs 130</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
        
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/Dhokla.jpg" alt="Dhokla">
            <p class="item-name">Dhokla</p>
            <p class="item-price">Price: Rs 40</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
        
           <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/pav bhaji.jpg" alt="Pav Bhaji">
            <p class="item-name">Pav Bhaji</p>
            <p class="item-price">Price: Rs 90</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
        
           <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/Idli-Sambar.jpg" alt="Idli-sambhar">
            <p class="item-name">Idli-Sambhar</p>
            <p class="item-price">Price: Rs 50</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
           <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/dahi-bada.jpeg" alt="Dahi Bada">
            <p class="item-name">Dahi Bada</p>
            <p class="item-price">Price: Rs 70</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
         
            <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/halwa.jpg" alt="Moong Halwa">
            <p class="item-name">Moong Halwa</p>
            <p class="item-price">Price: Rs 50</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
          
        
          <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/icecream.jpg" alt="Ice Cream">
            <p class="item-name">Ice Cream</p>
            <p class="item-price">Price: Rs 40</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
        
         
          <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/cocacola.jpg" alt="Cocacola">
            <p class="item-name">Cocacola</p>
            <p class="item-price">Price: Rs 60</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
         
          <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/fruit juice.jpg" alt="fruit juice">
            <p class="item-name">Fruit Juice</p>
            <p class="item-price">Price: Rs 40</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
         
          <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/mango juice.webp" alt="Mango Juice">
            <p class="item-name">Mango Juice</p>
            <p class="item-price">Price: Rs 50</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>  
        
        
         
     
          <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/north indian thali.jpg" alt="North Indian Thali">
            <p class="item-name">North Indian Thali</p>
            <p class="item-price">Price: Rs 500</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
        
          <div class="item-card">
            <div class="card-top">
                <i class="fa fa-star" id="rating">$.3.0</i>
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/food/south indina thali.jpg" alt="South Indian Thali">
            <p class="item-name">South Indian Thali</p>
            <p class="item-price">Price: Rs 500</p>
            <a href="/login" id="buy">Buy Now</a>
        </div>   
         
    </div>
    </div>
    <script>
        document.getElementById("buy").addEventListener("click", function (event) {
            event.preventDefault();
            alert("Please Login as a User to buy Products");
        });
    </script>
</body>

</html>

